body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0ecff;
    overflow-x: hidden;
}

header {
    background: linear-gradient(to top, #b8c2d1, #e0ecff);
    padding: 0.2em;
}
.firstHeader {
    background-image: url(background.png);
    background-size: cover;
}

.logoText {

    transform: translate(0em,-1em);
    display: inline-block;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding-left: 15%
}
h1 {
    -webkit-text-stroke: 1px #d4d4d4;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}


h2 {
   
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}
.subTitle {
    -webkit-text-stroke: 0.8px #d4d4d4;
    font-weight: 600;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

nav {
    background: linear-gradient(to right, #004080, #0078d4);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

    nav a {
        
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav a:hover {
            background: linear-gradient(to right, #0056b3, #004080);
        }

section {
    padding: 20px;
    transition: transform 0.3s ease;
    margin: 0 auto;
    max-width: 60%; /* Adjusted to fit into 60% of the page */
}

footer {
    background: linear-gradient(to right, #004080, #0078d4);
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.logo {
    display: inline-block;
    width: 10%;
    
    
}


section:hover {
    transform: scale(1.05);
}

/* Subtle scrolling effect */
body {
    scroll-behavior: smooth;
}
